modules = ["swift-5.8", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Build and Run"

[[workflows.workflow]]
name = "Build and Run"
author = 19629497

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift build"
